##Data types and variables Homework

In [5]:
"""
Write a program that reads 2 numbers and print their + - * / 
"""

#inputs from user(2 numbers)
number1 = input("Enter first number:")
number2 = input("Enter second number:")

#calculate the total (+ - * / )
add = float(number1) + float(number2)
subtract = float(number1) - float(number2)
mltiply = float(number1) * float(number2)
divide = float(number1) / float(number2)
print("\n") #break

#print their + - * / 
print(float(number1) ,"+",float(number2),"=", float(add))
print(float(number1) ,"-",float(number2),"=", float(subtract))
print(float(number1) ,"*",float(number2),"=", float(mltiply))
print(float(number1) ,"/",float(number2),"=", float(divide))

Enter first number:15
Enter second number:10
15.0 + 10.0 = 25.0
15.0 - 10.0 = 5.0
15.0 * 10.0 = 150.0
15.0 / 10.0 = 1.5

In [8]:
"""
Write a program that reads 2 students information about math exam
For each student read: his name, id and grade
Print the students
Print the grades average
"""

#input from user first student's(name, id and grade)
name1 = input("Enter the first student's name:")
id1 = input("Enter the first student's ID:")
grade1 = input("Enter the first student's grade:")
print("\n") #break

##input from user second student's(name, id and grade)
name2 = input("Enter the second student's name:")
id2 = input("Enter the second student's ID:")
grade2 = input("Enter the second student's grade:")
print("\n") #break

print("Informat for students and their 'Math' grades")

#students(name, id and grade)
print(name1,"(ID",id1,")","got grade:",float(grade1))
print(name2,"(ID",id2,")","got grade:",float(grade2))

#calculate average grade and show it
average = (float(grade1) + float(grade2)) / 2
print("Average math grade is",float(average))

Enter the first student's name:yasmin
Enter the first student's ID:123
Enter the first student's grade:55


Enter the second student's name:maraim
Enter the second student's ID:987
Enter the second student's grade:75


Informat for students and their 'Math' grades
yasmin (ID 123 ) got grade: 55.0
maraim (ID 987 ) got grade: 75.0
Average math grade is 65.0

In [8]:
"""
Write a program that read 3 strings.
For simplicity let’s say input is 3 letters A, B and C
The output is A’B”C repeated 10 times
A’B”CA’B”CA’B”CA’B”CA’B”CA’B”CA’B”CA’B”CA’B”CA’B”C
"""

#inputs from user(3 strings)
string1 = input("Enter first word:")
string2 = input("Enter second word:")
string3 = input("Enter second third:")

s = [string1, string2, string3]
#convert it from array to string
listToStr = ' '.join([str(elem) for elem in s])

#repeat it 10 times
for i in range(10):
    print(listToStr)

Enter first word:yasmin
Enter second word:loves
Enter second third:coding
yasmin loves coding
yasmin loves coding
yasmin loves coding
yasmin loves coding
yasmin loves coding
yasmin loves coding
yasmin loves coding
yasmin loves coding
yasmin loves coding
yasmin loves coding

In [10]:
"""
Swapping 2 numbers!
"""

#inputs from user(2 numbers)
num1, num2 = map(int, input().split())

#swap them
print(num2, num1)

12 54
54 12